:root {
    --blue-1: #e6f7ff;
    --blue-2: #bae7ff;
    --blue-3: #91d5ff;
    --blue-4: #69c0ff;
    --blue-5: #40a9ff;
    --blue-6: #1890ff;
    --blue-7: #096dd9;
    --blue-8: #0050b3;
    --blue-9: #003a8c;
    --blue-10: #002766;
    --purple-1: #f9f0ff;
    --purple-2: #efdbff;
    --purple-3: #d3adf7;
    --purple-4: #b37feb;
    --purple-5: #9254de;
    --purple-6: #722ed1;
    --purple-7: #531dab;
    --purple-8: #391085;
    --purple-9: #22075e;
    --purple-10: #120338;
    --cyan-1: #e6fffb;
    --cyan-2: #b5f5ec;
    --cyan-3: #87e8de;
    --cyan-4: #5cdbd3;
    --cyan-5: #36cfc9;
    --cyan-6: #13c2c2;
    --cyan-7: #08979c;
    --cyan-8: #006d75;
    --cyan-9: #00474f;
    --cyan-10: #002329;
    --green-1: #f6ffed;
    --green-2: #d9f7be;
    --green-3: #b7eb8f;
    --green-4: #95de64;
    --green-5: #73d13d;
    --green-6: #52c41a;
    --green-7: #389e0d;
    --green-8: #237804;
    --green-9: #135200;
    --green-10: #092b00;
    --pink-1: #fff0f6;
    --pink-2: #ffd6e7;
    --pink-3: #ffadd2;
    --pink-4: #ff85c0;
    --pink-5: #f759ab;
    --pink-6: #eb2f96;
    --pink-7: #c41d7f;
    --pink-8: #9e1068;
    --pink-9: #780650;
    --pink-10: #520339;
    --red-1: #fff1f0;
    --red-2: #ffccc7;
    --red-3: #ffa39e;
    --red-4: #ff7875;
    --red-5: #ff4d4f;
    --red-6: #f5222d;
    --red-7: #cf1322;
    --red-8: #a8071a;
    --red-9: #820014;
    --red-10: #5c0011;
    --orange-1: #fff7e6;
    --orange-2: #ffe7ba;
    --orange-3: #ffd591;
    --orange-4: #ffc069;
    --orange-5: #ffa940;
    --orange-6: #fa8c16;
    --orange-7: #d46b08;
    --orange-8: #ad4e00;
    --orange-9: #873800;
    --orange-10: #612500;
    --gold-1: #fffbe6;
    --gold-2: #fff1b8;
    --gold-3: #ffe58f;
    --gold-4: #ffd666;
    --gold-5: #ffc53d;
    --gold-6: #faad14;
    --gold-7: #d48806;
    --gold-8: #ad6800;
    --gold-9: #874d00;
    --gold-10: #613400;
    --primary-1: var(--blue-1);
    --primary-2: var(--blue-2);
    --primary-3: var(--blue-3);
    --primary-4: var(--blue-4);
    --primary-5: var(--blue-5);
    --primary-6: var(--blue-6);
    --primary-7: var(--blue-7);
    --primary-8: var(--blue-8);
    --primary-9: var(--blue-9);
    --primary-10: var(--blue-10);
    --primary-color: var(--primary-6);
    --primary-color-hover: var(--primary-5);
    --primary-color-active: var(--primary-7);
    --primary-color-outline: var(--primary-2);
    --info-color: var(--primary-color);
    --success-color: var(--green-6);
    --success-color-hover: var(--green-5);
    --success-color-active: var(--green-7);
    --success-color-outline: var(--green-2);
    --warning-color: var(--gold-6);
    --warning-color-hover: var(--gold-5);
    --warning-color-active: var(--gold-7);
    --warning-color-outline: var(--gold-2);
    --error-color: var(--red-5);
    --error-color-hover: var(--red-4);
    --error-color-active: var(--red-7);
    --error-color-outline: var(--red-2);
    --highlight-color: var(--red-5);
    --processing-color: var(--blue-6);
    --body-background: #fff;
    --component-background: #fff;
    --popover-background: var(--component-background);
    --popover-customize-border-color: var(--border-color-split);
    --text-color: rgba(0, 0, 0, .85);
    --text-color-secondary: rgba(0, 0, 0, .45);
    --text-color-inverse: #fff;
    --icon-color-hover: rgba(0, 0, 0, .75);
    --heading-color: rgba(0, 0, 0, .85);
    --item-hover-bg: #f5f5f5;
    --border-color-base: #d9d9d9;
    --border-color-split: #f0f0f0;
    --background-color-light: #fafafa;
    --background-color-base: #f5f5f5;
    --disabled-color: rgba(0, 0, 0, .25);
    --disabled-bg: var(--background-color-base);
    --disabled-color-dark: rgba(255, 255, 255, .35);
    --shadow-color: rgba(0, 0, 0, .15);
    --shadow-color-inverse: var(--component-background);
    --box-shadow-base: var(--shadow-2);
    --shadow-1-up: 0 -6px 16px -8px rgba(0, 0, 0, .08), 0 -9px 28px 0 rgba(0, 0, 0, .05), 0 -12px 48px 16px rgba(0, 0, 0, .03);
    --shadow-1-down: 0 6px 16px -8px rgba(0, 0, 0, .08), 0 9px 28px 0 rgba(0, 0, 0, .05), 0 12px 48px 16px rgba(0, 0, 0, .03);
    --shadow-1-left: -6px 0 16px -8px rgba(0, 0, 0, .08), -9px 0 28px 0 rgba(0, 0, 0, .05), -12px 0 48px 16px rgba(0, 0, 0, .03);
    --shadow-1-right: 6px 0 16px -8px rgba(0, 0, 0, .08), 9px 0 28px 0 rgba(0, 0, 0, .05), 12px 0 48px 16px rgba(0, 0, 0, .03);
    --shadow-2: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
    --btn-shadow: 0 2px 0 rgba(0, 0, 0, .015);
    --btn-primary-shadow: 0 2px 0 rgba(0, 0, 0, .045);
    --btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    --btn-default-bg: var(--component-background);
    --btn-default-ghost-color: var(--component-background);
    --btn-default-ghost-border: var(--component-background);
    --btn-text-hover-bg: rgba(0, 0, 0, .018);
    --btn-text-active-bg: rgba(0, 0, 0, .028);
    --checkbox-check-bg: #fff;
    --descriptions-bg: #fafafa;
    --divider-color: rgba(0, 0, 0, .06);
    --dropdown-menu-submenu-disabled-bg: var(--component-background);
    --radio-dot-disabled-color: rgba(0, 0, 0, .2);
    --radio-solid-checked-color: var(--component-background);
    --radio-disabled-button-checked-bg: #e6e6e6;
    --radio-disabled-button-checked-color: var(--disabled-color);
    --layout-body-background: #f0f2f5;
    --layout-header-background: #001529;
    --layout-trigger-background: #002140;
    --dropdown-menu-bg: var(--component-background);
    --input-placeholder-color: #bfbfbf;
    --input-icon-color: var(--text-color);
    --input-bg: var(--component-background);
    --input-number-handler-active-bg: #f4f4f4;
    --input-icon-hover-color: rgba(0, 0, 0, .85);
    --mentions-dropdown-bg: var(--component-background);
    --select-dropdown-bg: var(--component-background);
    --select-background: var(--component-background);
    --select-clear-background: var(--select-background);
    --select-selection-item-bg: var(--background-color-base);
    --select-selection-item-border-color: var(--border-color-split);
    --select-multiple-disabled-background: var(--disabled-bg);
    --select-multiple-item-disabled-color: #bfbfbf;
    --select-multiple-item-disabled-border-color: var(--border-color-base);
    --cascader-bg: var(--component-background);
    --cascader-menu-bg: var(--component-background);
    --cascader-menu-border-color-split: var(--border-color-split);
    --tooltip-bg: rgba(0, 0, 0, .75);
    --popover-bg: var(--component-background);
    --modal-header-bg: var(--component-background);
    --modal-header-border-color-split: var(--border-color-split);
    --modal-content-bg: var(--component-background);
    --modal-footer-border-color-split: var(--border-color-split);
    --progress-steps-item-bg: #f3f3f3;
    --menu-popup-bg: var(--component-background);
    --menu-dark-bg: var(--layout-header-background);
    --menu-dark-inline-submenu-bg: #000c17;
    --table-header-bg: var(--background-color-light);
    --table-header-sort-bg: var(--background-color-base);
    --table-body-sort-bg: #fafafa;
    --table-row-hover-bg: var(--background-color-light);
    --table-expanded-row-bg: #fbfbfb;
    --table-header-cell-split-color: rgba(0, 0, 0, .06);
    --table-header-sort-active-bg: rgba(0, 0, 0, .04);
    --table-fixed-header-sort-active-bg: #f5f5f5;
    --table-header-filter-active-bg: rgba(0, 0, 0, .04);
    --table-filter-btns-bg: inherit;
    --table-filter-dropdown-bg: var(--component-background);
    --table-expand-icon-bg: var(--component-background);
    --picker-bg: var(--component-background);
    --picker-basic-cell-disabled-bg: var(--disabled-bg);
    --picker-border-color: var(--border-color-split);
    --calendar-bg: var(--component-background);
    --calendar-input-bg: var(--input-bg);
    --calendar-border-color: #fff;
    --calendar-full-bg: var(--calendar-bg);
    --badge-text-color: var(--component-background);
    --rate-star-bg: var(--border-color-split);
    --card-actions-background: var(--component-background);
    --card-skeleton-bg: #cfd8dc;
    --card-shadow: 0 1px 2px -2px rgba(0, 0, 0, .16), 0 3px 6px 0 rgba(0, 0, 0, .12), 0 5px 12px 4px rgba(0, 0, 0, .09);
    --comment-bg: inherit;
    --comment-author-time-color: #ccc;
    --comment-action-hover-color: #595959;
    --back-top-bg: var(--text-color-secondary);
    --back-top-hover-bg: var(--text-color);
    --avatar-bg: #ccc;
    --switch-bg: var(--component-background);
    --pagination-item-bg: var(--component-background);
    --pagination-item-bg-active: var(--component-background);
    --pagination-item-link-bg: var(--component-background);
    --pagination-item-disabled-color-active: #fff;
    --pagination-item-disabled-bg-active: #e6e6e6;
    --pagination-item-input-bg: var(--component-background);
    --page-header-back-color: #000;
    --page-header-ghost-bg: inherit;
    --slider-rail-background-color: var(--background-color-base);
    --slider-rail-background-color-hover: #e1e1e1;
    --slider-dot-border-color: var(--border-color-split);
    --slider-dot-border-color-active: var(--primary-4);
    --tree-bg: var(--component-background);
    --skeleton-to-color: rgba(129, 129, 129, .24);
    --transfer-item-hover-bg: var(--item-hover-bg);
    --message-notice-content-bg: var(--component-background);
    --list-customize-card-bg: var(--component-background);
    --drawer-bg: var(--component-background);
    --timeline-color: var(--border-color-split);
    --timeline-dot-color: var(--primary-color);
    --steps-nav-arrow-color: rgba(0, 0, 0, .25);
    --steps-background: var(--component-background);
    --notification-bg: var(--component-background);
    --image-preview-operation-disabled-color: rgba(255, 255, 255, .45);
    --gradient-min: rgba(207, 216, 220, .2);
    --gradient-max: rgba(207, 216, 220, .4);
    --scrollbar-thumb-color: #cfcfcf;
    --scrollbar-thumb-hover-color: #b6b6b6;
    --scrollbar-track-color: transparent;
    --sidebar-background: var(--layout-header-background);
    --sidebar-light-background: var(--component-background);
    --sidebar-light-shadow: 1px 3px 3px rgba(0, 21, 41, .08);
    --sidebar-dark-shadow: 0 4px 4px rgba(0, 0, 0, .35);
    --sidebar-scrollbar-thumb-color: #4d5b69;
    --sidebar-scrollbar-thumb-hover-color: #66737f;
    --sidebar-scrollbar-track-color: transparent;
    --sidebar-light-scrollbar-thumb-color: var(--scrollbar-thumb-color);
    --sidebar-light-scrollbar-thumb-hover-color: var(--scrollbar-thumb-hover-color);
    --sidebar-light-scrollbar-track-color: transparent;
    --header-background: var(--layout-header-background);
    --header-light-background: var(--component-background);
    --header-light-shadow: 0 1px 4px rgba(0, 21, 41, .08);
    --header-dark-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    --header-tool-hover-bg: rgba(0, 0, 0, .025);
    --header-dark-tool-hover-bg: rgba(255, 255, 255, .05);
    --logo-light-shadow: 1px 2px 3px rgba(0, 21, 41, .08);
    --logo-dark-shadow: 0 3px 4px rgba(0, 0, 0, .35);
}

.dark {
    --blue-1: #111d2c;
    --blue-2: #112a45;
    --blue-3: #15395b;
    --blue-4: #164c7e;
    --blue-5: #1765ad;
    --blue-6: #177ddc;
    --blue-7: #3c9ae8;
    --blue-8: #65b7f3;
    --blue-9: #8dcff8;
    --blue-10: #b7e3fa;
    --purple-1: #1a1325;
    --purple-2: #24163a;
    --purple-3: #301c4d;
    --purple-4: #3e2069;
    --purple-5: #51258f;
    --purple-6: #642ab5;
    --purple-7: #854eca;
    --purple-8: #ab7ae0;
    --purple-9: #cda8f0;
    --purple-10: #ebd7fa;
    --cyan-1: #112123;
    --cyan-2: #113536;
    --cyan-3: #144848;
    --cyan-4: #146262;
    --cyan-5: #138585;
    --cyan-6: #13a8a8;
    --cyan-7: #33bcb7;
    --cyan-8: #58d1c9;
    --cyan-9: #84e2d8;
    --cyan-10: #b2f1e8;
    --green-1: #162312;
    --green-2: #1d3712;
    --green-3: #274916;
    --green-4: #306317;
    --green-5: #3c8618;
    --green-6: #49aa19;
    --green-7: #6abe39;
    --green-8: #8fd460;
    --green-9: #b2e58b;
    --green-10: #d5f2bb;
    --pink-1: #291321;
    --pink-2: #40162f;
    --pink-3: #551c3b;
    --pink-4: #75204f;
    --pink-5: #a02669;
    --pink-6: #cb2b83;
    --pink-7: #e0529c;
    --pink-8: #f37fb7;
    --pink-9: #f8a8cc;
    --pink-10: #fad2e3;
    --red-1: #2a1215;
    --red-2: #431418;
    --red-3: #58181c;
    --red-4: #791a1f;
    --red-5: #a61d24;
    --red-6: #f5222d;
    --red-7: #e84749;
    --red-8: #f37370;
    --red-9: #f89f9a;
    --red-10: #fac8c3;
    --orange-1: #2b1d11;
    --orange-2: #442a11;
    --orange-3: #593815;
    --orange-4: #7c4a15;
    --orange-5: #aa6215;
    --orange-6: #d87a16;
    --orange-7: #e89a3c;
    --orange-8: #f3b765;
    --orange-9: #f8cf8d;
    --orange-10: #fae3b7;
    --gold-1: #2b2111;
    --gold-2: #443111;
    --gold-3: #594214;
    --gold-4: #7c5914;
    --gold-5: #aa7714;
    --gold-6: #d89614;
    --gold-7: #e8b339;
    --gold-8: #f3cc62;
    --gold-9: #f8df8b;
    --gold-10: #faedb5;
    --primary-1: var(--blue-1);
    --primary-2: var(--blue-2);
    --primary-3: var(--blue-3);
    --primary-4: var(--blue-4);
    --primary-5: var(--blue-5);
    --primary-6: var(--blue-6);
    --primary-7: var(--blue-7);
    --primary-8: var(--blue-8);
    --primary-9: var(--blue-9);
    --primary-10: var(--blue-10);
    --primary-color: var(--primary-6);
    --primary-color-hover: var(--primary-5);
    --primary-color-active: var(--primary-7);
    --primary-color-outline: var(--primary-2);
    --info-color: var(--primary-color);
    --success-color: var(--green-6);
    --success-color-hover: var(--green-5);
    --success-color-active: var(--green-7);
    --success-color-outline: var(--green-2);
    --warning-color: var(--gold-6);
    --warning-color-hover: var(--gold-5);
    --warning-color-active: var(--gold-7);
    --warning-color-outline: var(--gold-2);
    --error-color: var(--red-5);
    --error-color-hover: var(--red-4);
    --error-color-active: var(--red-7);
    --error-color-outline: var(--red-2);
    --highlight-color: var(--red-5);
    --processing-color: var(--blue-6);
    --body-background: #000;
    --component-background: #141414;
    --popover-background: #1f1f1f;
    --popover-customize-border-color: #3a3a3a;
    --text-color: rgba(255, 255, 255, .85);
    --text-color-secondary: rgba(255, 255, 255, .45);
    --text-color-inverse: #fff;
    --icon-color-hover: rgba(255, 255, 255, .75);
    --heading-color: rgba(255, 255, 255, .85);
    --item-hover-bg: rgba(255, 255, 255, .08);
    --border-color-base: #434343;
    --border-color-split: #303030;
    --background-color-light: rgba(255, 255, 255, .04);
    --background-color-base: rgba(255, 255, 255, .08);
    --disabled-color: rgba(255, 255, 255, .3);
    --disabled-bg: var(--background-color-base);
    --disabled-color-dark: rgba(255, 255, 255, .3);
    --shadow-color: rgba(0, 0, 0, .45);
    --shadow-color-inverse: var(--component-background);
    --box-shadow-base: var(--shadow-2);
    --shadow-1-up: 0 -6px 16px -8px rgba(0, 0, 0, .32), 0 -9px 28px 0 rgba(0, 0, 0, .2), 0 -12px 48px 16px rgba(0, 0, 0, .12);
    --shadow-1-down: 0 6px 16px -8px rgba(0, 0, 0, .32), 0 9px 28px 0 rgba(0, 0, 0, .2), 0 12px 48px 16px rgba(0, 0, 0, .12);
    --shadow-1-right: 6px 0 16px -8px rgba(0, 0, 0, .32), 9px 0 28px 0 rgba(0, 0, 0, .2), 12px 0 48px 16px rgba(0, 0, 0, .12);
    --shadow-2: 0 3px 6px -4px rgba(0, 0, 0, .48), 0 6px 16px 0 rgba(0, 0, 0, .32), 0 9px 28px 8px rgba(0, 0, 0, .2);
    --btn-shadow: 0 2px 0 rgba(0, 0, 0, .015);
    --btn-primary-shadow: 0 2px 0 rgba(0, 0, 0, .045);
    --btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    --btn-default-bg: transparent;
    --btn-default-ghost-color: var(--text-color);
    --btn-default-ghost-border: rgba(255, 255, 255, .25);
    --btn-text-hover-bg: rgba(255, 255, 255, .03);
    --btn-text-active-bg: rgba(255, 255, 255, .04);
    --checkbox-check-bg: transparent;
    --descriptions-bg: var(--background-color-light);
    --divider-color: rgba(255, 255, 255, .12);
    --dropdown-menu-submenu-disabled-bg: transparent;
    --radio-dot-disabled-color: rgba(255, 255, 255, .2);
    --radio-solid-checked-color: #fff;
    --radio-disabled-button-checked-bg: rgba(255, 255, 255, .2);
    --radio-disabled-button-checked-color: var(--disabled-color);
    --layout-body-background: var(--body-background);
    --layout-header-background: var(--popover-background);
    --layout-trigger-background: #262626;
    --dropdown-menu-bg: var(--popover-background);
    --input-placeholder-color: rgba(255, 255, 255, .3);
    --input-icon-color: rgba(255, 255, 255, .3);
    --input-bg: transparent;
    --input-number-handler-active-bg: var(--item-hover-bg);
    --input-icon-hover-color: rgba(255, 255, 255, .85);
    --mentions-dropdown-bg: var(--popover-background);
    --select-dropdown-bg: var(--popover-background);
    --select-background: transparent;
    --select-clear-background: var(--component-background);
    --select-selection-item-bg: rgba(255, 255, 255, .08);
    --select-selection-item-border-color: var(--border-color-split);
    --select-multiple-disabled-background: var(--component-background);
    --select-multiple-item-disabled-color: #595959;
    --select-multiple-item-disabled-border-color: var(--popover-background);
    --cascader-bg: transparent;
    --cascader-menu-bg: var(--popover-background);
    --cascader-menu-border-color-split: var(--border-color-split);
    --tooltip-bg: #434343;
    --popover-bg: var(--popover-background);
    --modal-header-bg: var(--popover-background);
    --modal-header-border-color-split: var(--border-color-split);
    --modal-content-bg: var(--popover-background);
    --modal-footer-border-color-split: var(--border-color-split);
    --progress-steps-item-bg: rgba(255, 255, 255, .08);
    --menu-popup-bg: var(--popover-background);
    --menu-dark-bg: var(--popover-background);
    --menu-dark-inline-submenu-bg: var(--component-background);
    --table-header-bg: #1d1d1d;
    --table-header-sort-bg: #262626;
    --table-body-sort-bg: rgba(255, 255, 255, .01);
    --table-row-hover-bg: #262626;
    --table-expanded-row-bg: var(--table-header-bg);
    --table-header-cell-split-color: rgba(255, 255, 255, .08);
    --table-header-sort-active-bg: #303030;
    --table-fixed-header-sort-active-bg: #222;
    --table-header-filter-active-bg: #434343;
    --table-filter-btns-bg: var(--popover-background);
    --table-filter-dropdown-bg: var(--popover-background);
    --table-expand-icon-bg: transparent;
    --picker-bg: transparent;
    --picker-basic-cell-disabled-bg: #303030;
    --picker-border-color: var(--border-color-split);
    --calendar-bg: var(--popover-background);
    --calendar-input-bg: var(--calendar-bg);
    --calendar-border-color: transparent;
    --calendar-full-bg: var(--component-background);
    --badge-text-color: #fff;
    --rate-star-bg: rgba(255, 255, 255, .12);
    --card-actions-background: var(--component-background);
    --card-skeleton-bg: #303030;
    --card-shadow: 0 1px 2px -2px rgba(0, 0, 0, .64), 0 3px 6px 0 rgba(0, 0, 0, .48), 0 5px 12px 4px rgba(0, 0, 0, .36);
    --comment-bg: transparent;
    --comment-author-time-color: rgba(255, 255, 255, .3);
    --comment-action-hover-color: rgba(255, 255, 255, .65);
    --back-top-bg: var(--tooltip-bg);
    --back-top-hover-bg: var(--border-color-split);
    --avatar-bg: rgba(255, 255, 255, .3);
    --switch-bg: #fff;
    --pagination-item-bg: transparent;
    --pagination-item-bg-active: transparent;
    --pagination-item-link-bg: transparent;
    --pagination-item-disabled-color-active: #000;
    --pagination-item-disabled-bg-active: rgba(255, 255, 255, .25);
    --pagination-item-input-bg: var(--pagination-item-bg);
    --page-header-back-color: inherit;
    --page-header-ghost-bg: transparent;
    --slider-rail-background-color: #262626;
    --slider-rail-background-color-hover: var(--border-color-base);
    --slider-dot-border-color: var(--border-color-split);
    --slider-dot-border-color-active: var(--primary-4);
    --tree-bg: transparent;
    --skeleton-to-color: rgba(255, 255, 255, .16);
    --transfer-item-hover-bg: #262626;
    --message-notice-content-bg: var(--popover-background);
    --list-customize-card-bg: transparent;
    --drawer-bg: var(--popover-background);
    --timeline-color: var(--border-color-split);
    --timeline-dot-color: var(--primary-color);
    --steps-nav-arrow-color: rgba(255, 255, 255, .2);
    --steps-background: transparent;
    --notification-bg: var(--popover-background);
    --image-preview-operation-disabled-color: rgba(255, 255, 255, .45);
    --gradient-min: rgba(48, 48, 48, .2);
    --gradient-max: rgba(48, 48, 48, .4);
    --scrollbar-thumb-color: #484848;
    --scrollbar-thumb-hover-color: #5b5b5b;
    --scrollbar-track-color: transparent;
    --sidebar-background: var(--layout-header-background);
    --sidebar-light-background: var(--component-background);
    --sidebar-light-shadow: 0 4px 4px rgba(0, 0, 0, .6);
    --sidebar-dark-shadow: 0 4px 4px rgba(0, 0, 0, .6);
    --sidebar-scrollbar-thumb-color: #626262;
    --sidebar-scrollbar-thumb-hover-color: #797979;
    --sidebar-scrollbar-track-color: transparent;
    --sidebar-light-scrollbar-thumb-color: var(--scrollbar-thumb-color);
    --sidebar-light-scrollbar-thumb-hover-color: var(--scrollbar-thumb-hover-color);
    --sidebar-light-scrollbar-track-color: transparent;
    --header-background: var(--layout-header-background);
    --header-light-background: var(--component-background);
    --header-light-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    --header-dark-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    --header-tool-hover-bg: rgba(255, 255, 255, .05);
    --header-dark-tool-hover-bg: rgba(255, 255, 255, .05);
    --logo-light-shadow: 0 3px 4px rgba(0, 0, 0, .6);
    --logo-dark-shadow: 0 3px 4px rgba(0, 0, 0, .6);
}